---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  clang-diagnostic-*,
  clang-analyzer-*,
  cert-*,
  google-*,
  -google-build-using-namespace,
  llvm-*,
  -llvm-header-guard,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
FormatStyle:     file
CheckOptions:
  - key:             bugprone-argument-comment.CommentBoolLiterals
    value:           'true'
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           'MAYS_CHECK,assert'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
    value:           'true'
  - key:             readability-magic-numbers.IgnorePowersOf2IntegerValues
    value:           'true'
