# Defines the Chromium style for automatic reformatting.
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Chromium
ColumnLimit: 100
IncludeBlocks: Regroup
IncludeCategories:
  # One word C headers
  - Regex:           '^<[a-zA-Z0-9_-]+\.h>$'
    Priority:        1
  # One word C++ headers starting with experimental/
  - Regex:           '^<experimental/[a-zA-Z0-9_-]+>$'
    Priority:        2
    SortPriority:    1
  # One word C++ headers
  - Regex:           '^<[a-zA-Z0-9_-]+>$'
    Priority:        2
  # Other library headers starting with <
  - Regex:           '^<'
    Priority:        3
  # All other includes
  - Regex:           '.+'
    Priority:        4
